:root {
  --primary-color: hsl(335, 70%, 55%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 7%, 87%);
  --bg-card-color: hsl(0, 0%, 93%);
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --border-radius: 0.4em;
  --skills-bar-length: 0%;
}

* {
  box-sizing: border-box;

}
a{
  color: var(--primary-color);
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
 
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family:sans-serif;
}

body.Dark {
  --text-color: hsl(0, 44%, 90%);
  --bg-color: hsla(0, 0%, 6%, 0.952);
  --bg-card-color: hsl(0, 0%, 17%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 0 1.5em;
  background-color: var(--bg-card-color);
  transition: var(--transition);
}

.switches {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle-theme_icon {
  margin-right: 0.5em;
  width: 20px;
}

.toggle-theme_text {
  font-size: 0.8rem;
}

.colors{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  width: 100px;

}

.colors__item{
width: 20px;
height: 20px;
border: 1px , solid var(--text-color); 
cursor: pointer;
background-color: var(--primary-color);

}

.colors__item--blue{
 --primary-color: hsl(214, 84%, 56%);
}
.colors__item--green{
  --primary-color: hsl(170, 47%, 49%);
 }
 .colors__item--orange{
  --primary-color: hsl(19, 100%, 61%);
 }
 .colors__item--purple{
  --primary-color: hsl(283, 83%, 47%);
 }

 .switches {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos entre los extremos */
  width: 100%; /* Asegura que .switches ocupe todo el ancho del header */
}

.title {
text-align: center ;
color: var(--primary-color);
transition: var(--transition);

}
.main {
  display:grid ;
  padding: 2em;
  gap: 1.5em;
}

@media screen and (min-width: 720px) {
  .main {
    grid-template-columns: min-content  1fr;
  }
  
}

.column {
  display: grid;
  gap: 0.5em;
}


@media screen and (min-width: 720px) {
  .column--right {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    align-items: start;
  }
  
}

.card {
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
 
}

.card__image-container {
  min-width: 320px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card__header {
  padding: 1em;
}

.card__title {
  margin: 0;
  margin-top: 5px; /* Espacio entre la imagen y el título */
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.card__subtitle { /* Corregí el error de nombre */
  opacity: 0.8;
  font-size: 0.9rem;
}

.card__link {
   margin-top: 0.75em; /* Reduce el espacio entre los enlaces */
  display: block; /* Para que cada enlace ocupe su propia línea */
}

.card__link a {
  text-decoration: none; /* Quitar subrayado */
  color: var(--primary-color); /* Color del texto */
  font-size: 1rem; /* Ajustar el tamaño del texto si es necesario */
  display: inline-flex;
  align-items: center; /* Centrar el icono y el texto */
}

.card__link a:hover {
  color:var(--primary-color); /* Cambiar color al pasar el cursor (puedes personalizarlo) */
}

.card__link i {
  margin-right: 8px; /* Espacio entre el icono y el texto */
  font-size: 1.2rem; /* Ajustar el tamaño de los iconos */
}

.skills{

  padding: 1em 0;
}

.skills__header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
}


.skills__start-level, .skills__end-level {
  font-size: 0.7rem;
}

.skills__tech{
  margin: 0%;
  font-size: 0.8rem;

}
.skills__small{
  display: block;
  text-align: center;
  font-size: 0.75rem;
  width: 175px;
  margin-left: auto;
  margin-bottom: 0.25em;

}

.skills__item{

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em; 
}

.skills__bar,
.skills__bar::after{
position: relative;
width: 175px;
height: 8px;
background-color: #888;
border-radius: var(--border-radius);
overflow: hidden;

}
.skills__bar::after {
  content: '';
  position: absolute;
  background-color: var(--primary-color);
  transition: var(--transition); 
  left: -175px;
   animation: skills-bar-fill 2s ease-in-out forwards;
}

.skills__bar--10::after {
  --skills-bar-length: 10%;
}

.skills__bar--20::after {
  --skills-bar-length: 20%;
}

.skills__bar--30::after {
  --skills-bar-length: 30%;
}

.skills__bar--40::after {
  --skills-bar-length: 40%;
}

.skills__bar--50::after {
  --skills-bar-length: 50%;
}

.skills__bar--60::after {
  --skills-bar-length: 60%;
}

.skills__bar--70::after {
  --skills-bar-length: 70%;
}

.skills__bar--80::after {
  --skills-bar-length: 80%;
}

.skills__bar--90::after {
  --skills-bar-length: 90%;
}


  @keyframes skills-bar-fill {
    to{
          transform: translateX(var(--skills-bar-length));

    }
  }

  .experience{
   display: flex;
   align-items: start;
   margin-bottom: 1em;
   padding: 1em;
   border: 2px solid var(--primary-color);
   border-radius: var(--border-radius);
   transition: var(--transition);
  }

  .experience__image{
    max-width: 20%;
    margin-right: 1em;

   }
   
   .ecperience__time{
  font-size:  0.8rem; 
  margin-bottom: 0.5em;

  }

  .experience__job{
  margin: 0%;
  margin-bottom: 0.5em;
  color: var(--primary-color);
  transition: var(--transition);


  }

  .experience__description{
    font-size: 0.8rem;
    margin-bottom: 1.5em;
  }
  .hobbie-image {
    max-width: 125px !important;
    height: auto;
    margin: 0 auto;
  }